Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

.pre-commit-config.yaml:

# pre-commit == 3.6.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-added-large-files
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.0.1
    hooks:
      - id: forbid-crlf
        files: \.md$
      - id: remove-crlf
        files: \.md$
      - id: forbid-tabs
        files: \.md$
      - id: remove-tabs
        files: \.md$
  - repo: local
    hooks:
      - id: run-erniebot-checks
        name: Run erniebot checks
        language: system
        entry: python scripts/run_erniebot_checks.py
        files: ^erniebot/
        pass_filenames: false
        stages: [pre-commit]
      - id: run-erniebot-agent-checks
        name: Run erniebot-agent checks
        language: system
        entry: python scripts/run_erniebot_agent_checks.py
        files: ^erniebot-agent/
        pass_filenames: false
        stages: [pre-commit]

[Docs] add docs for tool module (#210)
  README.md
  docs/img/favicon.png
  docs/modules/tools/create-tool.md
  docs/modules/tools/getting-started.md
  docs/package/erniebot_agent/tools.md
  mkdocs.yml
Due: none

update cookbook
  erniebot-agent/examples/cookbook/FunctionalAgentWithRetrieval_baizhong.ipynb
Due: run-erniebot-agent-checks

fix_unit_test
  erniebot-agent/examples/rpg_game_agent.py
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/tests/unit_tests/agents/test_agent_response_annotations.py
Due: run-erniebot-agent-checks

FunctionalAgent->FunctionAgent
  erniebot-agent/examples/baizhong_search_example.py
  erniebot-agent/examples/cookbook/construction_assistant.ipynb
  erniebot-agent/examples/cv_agent/CV_agent.py
  erniebot-agent/examples/functional_agent_with_retrieval_example.py
  erniebot-agent/examples/plugins/multiple_plugins.py
  erniebot-agent/src/erniebot_agent/agents/__init__.py
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent_with_retrieval.py
  erniebot-agent/tests/integration_tests/agents/test_functional_agent.py
  erniebot-agent/tests/integration_tests/apihub/base.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent.py
  erniebot-agent/tests/unit_tests/tools/test_image_generation.py
Due: run-erniebot-agent-checks

Fix typing
  docs/package/erniebot_agent/agents.md
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/__init__.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/__init__.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/mixins/gradio_mixin.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
Due: run-erniebot-agent-checks

Fix typing
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
Due: run-erniebot-agent-checks

Fix docs
  docs/package/erniebot_agent/agents.md
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
Due: run-erniebot-agent-checks

Validate file purpose
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
  erniebot-agent/src/erniebot_agent/file/local_file.py
  erniebot-agent/src/erniebot_agent/file/protocol.py
  erniebot-agent/src/erniebot_agent/file/remote_file.py
Due: run-erniebot-agent-checks

Fix imports
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
Due: run-erniebot-agent-checks

renew file.md des
  docs/modules/file.md
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
Due: run-erniebot-agent-checks

Add unitest test
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval_score_tool.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval_tool.py
Due: run-erniebot-agent-checks

codestyle check
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

add examples
  docs/modules/file.md
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager_handler.py
Due: run-erniebot-agent-checks

fix title typo
  docs/modules/file.md
  docs/package/erniebot_agent/file.md
Due: none

add mkdocs notes
  docs/modules/file.md
Due: none

[Agent][Plugins]Return plugin info (#181)
  erniebot-agent/examples/rpg_game_agent.py
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/tests/integration_tests/agents/test_functional_agent.py
  erniebot-agent/tests/integration_tests/apihub/test_ocr.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_models.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_shituv2.py
  erniebot-agent/tests/unit_tests/agents/callback/test_callback_manager.py
  erniebot-agent/tests/unit_tests/agents/test_agent_response_annotations.py
  erniebot-agent/tests/unit_tests/chat_model/test_chat_model_various_output.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
Due: run-erniebot-agent-checks

更新token数量估算算法，和千帆官网保持一致
  erniebot/docs/guides/chat_completion.md
  erniebot/src/erniebot/utils/token_helper.py
Due: run-erniebot-checks

更新embedding文档中token数量估算口径
  erniebot/docs/guides/embedding.md
Due: run-erniebot-checks

changes
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

wip
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

add pic link
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

renew style
  docs/modules/file.md
Due: none

fix typo
  docs/modules/file.md
Due: none

add functional_agent_with_retrieval unitests (#208)
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/tests/unit_tests/agents/__init__.py
  erniebot-agent/tests/unit_tests/agents/common_util.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval_score_tool.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval_tool.py
Due: run-erniebot-agent-checks

[Agent] chat_models consider system message in input messages
  docs/modules/chat_models.md
  docs/modules/messages.md
  docs/tutorials/preparation.md
  erniebot-agent/src/erniebot_agent/chat_models/base.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/utils/common.py
Due: run-erniebot-agent-checks

update main README.md
  README.md
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

refine installation
  docs/tutorials/preparation.md
  mkdocs.yml
Due: none

[Docs]Add docstring for file (#202)
  docs/modules/file.md
  docs/package/erniebot_agent/file.md
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/file_registry.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager_handler.py
  erniebot-agent/src/erniebot_agent/file/local_file.py
  erniebot-agent/src/erniebot_agent/file/protocol.py
  erniebot-agent/src/erniebot_agent/file/remote_file.py
  mkdocs.yml
Due: run-erniebot-agent-checks

update parent readme
  README.md
Due: none

update name
  README.md
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

Fix bugs and enhance types
  erniebot-agent/.flake8
  erniebot-agent/.vscode/settings.json
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/file_registry.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_shituv2.py
  erniebot-agent/tests/unit_tests/chat_model/test_chat_model_various_output.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
  erniebot/.flake8
Due: run-erniebot-checks, run-erniebot-agent-checks

fix according comments
  docs/modules/chat_models.md
  docs/tutorials/preparation.md
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_shituv2.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
Due: run-erniebot-agent-checks
