Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

run-erniebot-checks:
  name: Run erniebot checks
  language: system
  entry: python scripts/run_erniebot_checks.py
  pass_filenames: false
  stages:
  - pre-commit

run-erniebot-agent-checks:
  name: Run erniebot-agent checks
  language: system
  entry: python scripts/run_erniebot_agent_checks.py
  pass_filenames: false
  stages:
  - pre-commit

init rpg game
  erniebot-agent/applications/README.md
  erniebot-agent/applications/gradio_demo.py
  erniebot-agent/applications/rpg_game/rpg_game_function.py
Due: run-erniebot-agent-checks

update
  README.md
  docs/index.md
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

update
  erniebot-agent/examples/cookbook/memory.ipynb
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
Due: run-erniebot-agent-checks

fix_lint
  erniebot-agent/cookbook/memory.ipynb
Due: run-erniebot-agent-checks

refine docs
  docs/index.md
  docs/modules/introduction.md
  docs/modules/preparation.md
  docs/modules/quick-start.md
  mkdocs.yml
Due: none

changes
  docs/modules/quickstart.md
Due: none

update mkdocs
  mkdocs.yml
Due: none

temp save
  erniebot-agent/applications/rpg_game/rpg_game_function.py
Due: run-erniebot-agent-checks

update quickstart.md
  docs/modules/quickstart.md
Due: none

new pic
  README.md
Due: none

[Documentation]Add docs&tutorial for memory; refine memory. (#233)
  docs/modules/memory.md
  erniebot-agent/cookbook/memory.ipynb
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_tokens_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
Due: run-erniebot-agent-checks

[docs] Add README.md for `ERNIE Bot Agent` (#222)
  README.md
  docs/index.md
  docs/modules/introduction.md
  docs/modules/preparation.md
  docs/modules/quickstart.md
  erniebot-agent/README.md
  mkdocs.yml
Due: run-erniebot-agent-checks

move ./erniebot/docs to ./docs
  .readthedocs.yaml
  docs/cookbooks/agent
  docs/pre_build.sh
  docs/sdk/README.md
  docs/sdk/api_reference/chat_completion.md
  docs/sdk/api_reference/embedding.md
  docs/sdk/api_reference/image.md
  docs/sdk/authentication.md
  docs/sdk/configuration.md
  docs/sdk/guides/chat_completion.md
  docs/sdk/guides/embedding.md
  docs/sdk/guides/function_calling.md
  docs/sdk/guides/image.md
  docs/sdk/installation.md
  docs/sdk/models.md
  erniebot/mkdocs.yml
  mkdocs.yml
Due: run-erniebot-checks

update
  mkdocs.yml
Due: none

refine readme
  README.md
  docs/index.md
Due: none

update remote-tool
  erniebot-agent/cookbook/remote_tool.ipynb
Due: run-erniebot-agent-checks

simplify
  README.md
Due: none

simplify
  README.md
  docs/index.md
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

[docs] refine readme (#235)
  README.md
  docs/index.md
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

[Docs]Update style (#234)
  mkdocs.yml
Due: none

add function agent rpg
  erniebot-agent/applications/README.md
  erniebot-agent/applications/gradio_demo.py
  erniebot-agent/applications/rpg_game/__init__.py
  erniebot-agent/applications/rpg_game/chat_story_tool.py
  erniebot-agent/applications/rpg_game/img_gen_tool.py
  erniebot-agent/applications/rpg_game/rpg_game_function.py
Due: run-erniebot-agent-checks

format jupyter
  erniebot-agent/cookbook/local_tool.ipynb
  erniebot-agent/cookbook/remote_tool.ipynb
Due: run-erniebot-agent-checks

[Docs] Add tool advance doc (#230)
  .gitignore
  docs/cookbooks/agent
  docs/img/logo.png
  docs/modules/tools/create-tool.md
  docs/requirements.txt
  docs/sdk/README.md
  docs/sdk/api_reference/chat_completion.md
  docs/sdk/api_reference/embedding.md
  docs/sdk/api_reference/image.md
  docs/sdk/authentication.md
  docs/sdk/configuration.md
  docs/sdk/guides/chat_completion.md
  docs/sdk/guides/embedding.md
  docs/sdk/guides/function_calling.md
  docs/sdk/guides/image.md
  docs/sdk/installation.md
  docs/sdk/models.md
  erniebot-agent/cookbook/local_tool.ipynb
  erniebot-agent/cookbook/remote_tool.ipynb
  erniebot/mkdocs.yml
  mkdocs.yml
Due: run-erniebot-checks, run-erniebot-agent-checks

fix docs
  docs/index.md
  docs/modules/chat_models.md
  docs/modules/file.md
  docs/modules/memory.md
  docs/modules/message.md
  docs/modules/retrieval.md
  mkdocs.yml
Due: none

fix docs (#237)
  docs/index.md
  docs/modules/chat_models.md
  docs/modules/file.md
  docs/modules/memory.md
  docs/modules/message.md
  docs/modules/retrieval.md
  mkdocs.yml
Due: none

fix bug
  erniebot-agent/applications/rpg_game/img_gen_tool.py
  erniebot-agent/applications/rpg_game/rpg_game_function.py
Due: run-erniebot-agent-checks

renew readme and fix link
  erniebot-agent/applications/rpg_game/README.md
  erniebot/README.md
Due: run-erniebot-checks, run-erniebot-agent-checks

reformat
  erniebot-agent/applications/rpg_game/rpg_game_function.py
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/applications/rpg_game/README.md
Due: run-erniebot-agent-checks

fix des
  erniebot-agent/applications/rpg_game/README.md
Due: run-erniebot-agent-checks

fix des
  docs/modules/file.md
Due: none

[Agent] refine installation
  README.md
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

fix
  README.md
  docs/modules/preparation.md
Due: none

refine_docs
  docs/modules/file.md
  docs/modules/memory.md
  erniebot-agent/cookbook/memory.ipynb
  erniebot-agent/src/erniebot_agent/agents/agent.py
Due: run-erniebot-agent-checks

up
  README.md
  docs/index.md
  erniebot-agent/README.md
  mkdocs.yml
Due: run-erniebot-agent-checks

up
  README.md
  docs/modules/preparation.md
  erniebot-agent/README.md
Due: run-erniebot-agent-checks

refine_docs (#239)
  docs/modules/file.md
  docs/modules/memory.md
  erniebot-agent/cookbook/memory.ipynb
  erniebot-agent/src/erniebot_agent/agents/agent.py
Due: run-erniebot-agent-checks

[Agent] refine installation (#238)
  README.md
  docs/index.md
  docs/modules/preparation.md
  erniebot-agent/README.md
  mkdocs.yml
Due: run-erniebot-agent-checks

Path conditions:
  run-erniebot-checks: any of: ^erniebot/
  run-erniebot-agent-checks: any of: ^erniebot-agent/
