Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

.pre-commit-config.yaml:

# pre-commit == 3.6.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-added-large-files
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.0.1
    hooks:
      - id: forbid-crlf
        files: \.md$
      - id: remove-crlf
        files: \.md$
      - id: forbid-tabs
        files: \.md$
      - id: remove-tabs
        files: \.md$
  - repo: local
    hooks:
      - id: run-erniebot-checks
        name: Run erniebot checks
        language: system
        entry: python scripts/run_erniebot_checks.py
        files: ^erniebot/
        pass_filenames: false
        stages: [pre-commit]
      - id: run-erniebot-agent-checks
        name: Run erniebot-agent checks
        language: system
        entry: python scripts/run_erniebot_agent_checks.py
        files: ^erniebot-agent/
        pass_filenames: false
        stages: [pre-commit]

fix format
  erniebot-agent/cookbook/chat_models.ipynb
  erniebot-agent/cookbook/message.ipynb
Due: run-erniebot-agent-checks

rm examples
  erniebot-agent/cookbook/FunctionAgent.ipynb
  erniebot-agent/cookbook/ocr.png
Due: run-erniebot-agent-checks

rm examples
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

relink
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

fix file.md format
  docs/modules/file.md
Due: none

fix global file
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

add use-tool
  docs/modules/tools/create-tool.md
  docs/quickstart/agent.md
  docs/quickstart/preparation.md
  docs/quickstart/use-tool.md
  erniebot-agent/cookbook/local_tool.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

Reorder
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
  erniebot-agent/src/erniebot_agent/agents/function_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/protocol.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/retrieval/baizhong_search.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/src/erniebot_agent/tools/schema.py
  erniebot-agent/src/erniebot_agent/tools/utils.py
  erniebot/src/erniebot/resources/chat_completion.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
  erniebot/src/erniebot/resources/embedding.py
  erniebot/src/erniebot/resources/resource.py
Due: run-erniebot-checks, run-erniebot-agent-checks

Format
  erniebot-agent/src/erniebot_agent/agents/function_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot/src/erniebot/resources/chat_completion.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
  erniebot/src/erniebot/resources/embedding.py
  erniebot/src/erniebot/resources/resource.py
Due: run-erniebot-checks, run-erniebot-agent-checks

add auth
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

rename
  erniebot-agent/cookbook/function_agent.ipynb
Due: run-erniebot-agent-checks

rename
  mkdocs.yml
Due: none

fix mkdocs
  mkdocs.yml
Due: none

rm message
  erniebot-agent/cookbook/function_agent.ipynb
Due: run-erniebot-agent-checks

[Agent][cookbook]Add Agent Tutorial (#246)
  erniebot-agent/cookbook/function_agent.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

up
  erniebot-agent/cookbook/chat_models.ipynb
  erniebot-agent/cookbook/message.ipynb
Due: run-erniebot-agent-checks

Fix docs
  docs/modules/agents.md
  mkdocs.yml
Due: none

Update README.md
  README.md
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

[Agent] add models and message notebook (#249)
  erniebot-agent/cookbook/chat_models.ipynb
  erniebot-agent/cookbook/message.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

[Agent][Doc] Add agent documentation (#245)
  docs/modules/agents.md
  mkdocs.yml
Due: none

Update retrieval docs
  docs/modules/retrieval.md
Due: none

reformat retrieval docs
  docs/modules/retrieval.md
Due: none

Fix documentation
  docs/modules/agents.md
Due: none

modify langchain_notebook
  erniebot-agent/cookbook/langchain_function_agent_with_retrieval.ipynb
  erniebot-agent/cookbook/llama_index_function_agent_with_retrieval.ipynb
Due: run-erniebot-agent-checks

Add EB_AGENT_ACCESS_TOKEN
  docs/modules/retrieval.md
  erniebot-agent/src/erniebot_agent/retrieval/baizhong_search.py
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/src/erniebot_agent/retrieval/baizhong_search.py
Due: run-erniebot-agent-checks

Update baizhong_search.py
  erniebot-agent/src/erniebot_agent/retrieval/baizhong_search.py
Due: run-erniebot-agent-checks

reformat doc
  docs/modules/retrieval.md
Due: none

Fix documentation (#251)
  docs/modules/agents.md
Due: none

rename
  README.md
  docs/index.md
  docs/modules/chat_models.md
  docs/modules/message.md
  docs/modules/preparation.md
  docs/sdk/README.md
  docs/sdk/authentication.md
  docs/sdk/configuration.md
  docs/sdk/guides/chat_completion.md
  docs/sdk/guides/embedding.md
  docs/sdk/guides/function_calling.md
  docs/sdk/installation.md
  docs/sdk/models.md
  erniebot-agent/README.md
  erniebot-agent/cookbook/chat_models.ipynb
  erniebot-agent/cookbook/construction_assistant.ipynb
  erniebot-agent/cookbook/how_to_use_langchain_extension.ipynb
  erniebot-agent/cookbook/message.ipynb
  erniebot-agent/cookbook/road_sign.jpeg
  erniebot-agent/cookbook/road_sign.jpeg.1
  erniebot/README.md
  erniebot/examples/README.md
  erniebot/examples/cookbook/00-Getting-Started.ipynb
  erniebot/examples/cookbook/02-Function-Calling.ipynb
  erniebot/examples/cookbook/03-Embedding.ipynb
  erniebot/examples/cookbook/04-Image_Generation.ipynb
  erniebot/examples/function_calling/README.md
  erniebot/examples/function_calling/function_calling_demo.py
  erniebot/examples/quick_start/README.md
  erniebot/examples/quick_start/gradio_demo.py
  erniebot/examples/retrieval_function_call/README.md
  erniebot/tests/README.md
Due: run-erniebot-checks, run-erniebot-agent-checks

rename docs
  mkdocs.yml
Due: none

changes
  README.md
  docs/index.md
Due: none

update docs
  docs/modules/tools/create-tool.md
  docs/quickstart/use-tool.md
  erniebot-agent/cookbook/local_tool.ipynb
  erniebot-agent/cookbook/remote_tool.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

[Docs] Rename ernie-bot-sdk to erniebot (#253)
  README.md
  docs/index.md
  docs/modules/chat_models.md
  docs/modules/message.md
  docs/modules/preparation.md
  docs/sdk/README.md
  docs/sdk/authentication.md
  docs/sdk/configuration.md
  docs/sdk/guides/chat_completion.md
  docs/sdk/guides/embedding.md
  docs/sdk/guides/function_calling.md
  docs/sdk/installation.md
  docs/sdk/models.md
  erniebot-agent/README.md
  erniebot-agent/cookbook/chat_models.ipynb
  erniebot-agent/cookbook/construction_assistant.ipynb
  erniebot-agent/cookbook/how_to_use_langchain_extension.ipynb
  erniebot-agent/cookbook/message.ipynb
  erniebot-agent/cookbook/road_sign.jpeg
  erniebot-agent/cookbook/road_sign.jpeg.1
  erniebot/README.md
  erniebot/examples/README.md
  erniebot/examples/cookbook/00-Getting-Started.ipynb
  erniebot/examples/cookbook/02-Function-Calling.ipynb
  erniebot/examples/cookbook/03-Embedding.ipynb
  erniebot/examples/cookbook/04-Image_Generation.ipynb
  erniebot/examples/function_calling/README.md
  erniebot/examples/function_calling/function_calling_demo.py
  erniebot/examples/quick_start/README.md
  erniebot/examples/quick_start/gradio_demo.py
  erniebot/examples/retrieval_function_call/README.md
  erniebot/tests/README.md
  mkdocs.yml
Due: run-erniebot-checks, run-erniebot-agent-checks

update tool docs
  erniebot-agent/cookbook/local_tool.ipynb
  erniebot-agent/cookbook/remote_tool.ipynb
  erniebot-agent/examples/remote-tools/.well-known/ai-plugin.json
  erniebot-agent/examples/remote-tools/.well-known/openapi.yaml
  erniebot-agent/examples/remote-tools/README.md
  erniebot-agent/examples/remote-tools/requirements.txt
  erniebot-agent/examples/remote-tools/server.py
  erniebot-agent/examples/word-books/README.md
  erniebot-agent/examples/word-books/agent.py
  erniebot-agent/examples/word-books/remote_tool.py
  erniebot-agent/examples/word-books/run.sh
  erniebot-agent/examples/word-books/tool.py
  erniebot-agent/examples/word-books/tool_a.py
  erniebot-agent/examples/word-books/tool_simple.py
  erniebot-agent/examples/word-books/tool_simple_with_eb.py
  erniebot-agent/examples/word-books/words.json
Due: run-erniebot-agent-checks
