Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

.pre-commit-config.yaml:

# pre-commit == 3.6.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-added-large-files
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.0.1
    hooks:
      - id: forbid-crlf
        files: \.md$
      - id: remove-crlf
        files: \.md$
      - id: forbid-tabs
        files: \.md$
      - id: remove-tabs
        files: \.md$
  - repo: local
    hooks:
      - id: run-erniebot-checks
        name: Run erniebot checks
        language: system
        entry: python scripts/run_erniebot_checks.py
        files: ^erniebot/
        pass_filenames: false
        stages: [pre-commit]
      - id: run-erniebot-agent-checks
        name: Run erniebot-agent checks
        language: system
        entry: python scripts/run_erniebot_agent_checks.py
        files: ^erniebot-agent/
        pass_filenames: false
        stages: [pre-commit]

Update README.md
  README.md
Due: none

[doc] Update README.md (#240)
  README.md
Due: none

Update README.md
  erniebot/README.md
Due: run-erniebot-checks

Update README.md (#241)
  erniebot/README.md
Due: run-erniebot-checks

update cookbook
  erniebot-agent/cookbook/langchain_function_agent_with_retrieval.ipynb
  erniebot-agent/cookbook/llama_index_function_agent_with_retrieval.ipynb
Due: run-erniebot-agent-checks

update cookbook (#242)
  erniebot-agent/cookbook/langchain_function_agent_with_retrieval.ipynb
  erniebot-agent/cookbook/llama_index_function_agent_with_retrieval.ipynb
Due: run-erniebot-agent-checks

fix display and add method of agent
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
Due: run-erniebot-agent-checks

Add agent doc
  docs/modules/agents.md
Due: none

fix display and add method of agent (#243)
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
Due: run-erniebot-agent-checks

add agent notebook
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

dict->mapping
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/base.py
Due: run-erniebot-agent-checks

Reorder methods
  erniebot-agent/src/erniebot_agent/agents/callback/callback_manager.py
  erniebot-agent/src/erniebot_agent/agents/callback/event.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/base.py
Due: run-erniebot-agent-checks

Add missing blank
  erniebot-agent/src/erniebot_agent/file/global_file_manager_handler.py
Due: run-erniebot-agent-checks

Fix style
  erniebot-agent/src/erniebot_agent/agents/callback/callback_manager.py
Due: run-erniebot-agent-checks

revise display
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

Add english names
  docs/modules/agents.md
Due: none

Fix merge conflicts
  erniebot-agent/src/erniebot_agent/agents/agent.py
Due: run-erniebot-agent-checks

renew des
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

add mkdocs
  mkdocs.yml
Due: none

add des of step
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

add_unit_test
  docs/modules/file.md
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/tests/unit_tests/chat_model/test_chat_model_various_input.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
Due: run-erniebot-agent-checks

update
  erniebot-agent/tests/unit_tests/chat_model/test_chat_model_various_input.py
Due: run-erniebot-agent-checks

add ocr_tool
  erniebot-agent/cookbook/FunctionAgent.ipynb
  erniebot-agent/cookbook/ocr.png
Due: run-erniebot-agent-checks

add tools_intro.ipynb
  erniebot-agent/cookbook/tools_intro.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

fix styles
  erniebot-agent/cookbook/tools_intro.ipynb
Due: run-erniebot-agent-checks

tremove all docs
  docs/modules/tools/getting-started.md
Due: none

[docs] Add Tools Intro tutorial (#248)
  docs/modules/tools/getting-started.md
  erniebot-agent/cookbook/tools_intro.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

hide left nav
  docs/index.md
  mkdocs.yml
Due: none

[EB]Add Unittest for EB (#247)
  docs/modules/file.md
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/tests/unit_tests/chat_model/test_chat_model_various_input.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
Due: run-erniebot-agent-checks

[Agent] add models and message notebook
  erniebot-agent/cookbook/chat_models.ipynb
  erniebot-agent/cookbook/message.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

up
  erniebot-agent/cookbook/message.ipynb
  mkdocs.yml
Due: run-erniebot-agent-checks

add file des
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

revise file usage
  erniebot-agent/cookbook/FunctionAgent.ipynb
Due: run-erniebot-agent-checks

up
  erniebot-agent/cookbook/chat_models.ipynb
  erniebot-agent/cookbook/message.ipynb
Due: run-erniebot-agent-checks

up
  erniebot-agent/cookbook/message.ipynb
Due: run-erniebot-agent-checks

up
  erniebot-agent/cookbook/chat_models.ipynb
Due: run-erniebot-agent-checks
