Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

run-erniebot-checks:
  name: Run erniebot checks
  language: system
  entry: python scripts/run_erniebot_checks.py
  pass_filenames: false
  stages:
  - pre-commit

run-erniebot-agent-checks:
  name: Run erniebot-agent checks
  language: system
  entry: python scripts/run_erniebot_agent_checks.py
  pass_filenames: false
  stages:
  - pre-commit

modify ui
  erniebot-agent/examples/experiment/group_agent.py
Due: run-erniebot-agent-checks

modify ui
  erniebot-agent/examples/experiment/ResearchAgent.py
Due: run-erniebot-agent-checks

add adhoc post processing for pic-translate and translation
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

fix styles
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_tokens_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/memory/whole_memory.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

revert styles
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_tokens_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/memory/whole_memory.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

revert remotetool
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

[feat] add adhoc post processing for pic-translate and translation tools (#205)
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

revert remotetool (#206)
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

Fix and enhance
  erniebot-agent/src/erniebot_agent/agents/callback/callback_manager.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/file_registry.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager_handler.py
  erniebot-agent/src/erniebot_agent/file/protocol.py
  erniebot-agent/src/erniebot_agent/file/remote_file.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/src/erniebot_agent/utils/misc.py
  erniebot-agent/src/erniebot_agent/utils/mixins.py
  erniebot-agent/tests/unit_tests/agents/callback/test_callback_manager.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_remote_file_client_server.py
  erniebot/README.md
  erniebot/docs/README.md
  erniebot/docs/authentication.md
  erniebot/examples/function_calling/function_calling_demo.py
  erniebot/src/erniebot/__init__.py
  erniebot/src/erniebot/auth.py
  erniebot/src/erniebot/cli.py
  erniebot/src/erniebot/config.py
  erniebot/src/erniebot/constants.py
  erniebot/src/erniebot/errors.py
  erniebot/src/erniebot/http_client.py
  erniebot/src/erniebot/resources/chat_completion.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
  erniebot/src/erniebot/resources/embedding.py
  erniebot/src/erniebot/resources/fine_tuning.py
  erniebot/src/erniebot/resources/image.py
  erniebot/src/erniebot/resources/resource.py
  erniebot/src/erniebot/response.py
  erniebot/src/erniebot/utils/misc.py
  erniebot/tests/README.md
Due: run-erniebot-checks, run-erniebot-agent-checks

Fix style
  erniebot/src/erniebot/__init__.py
  erniebot/src/erniebot/config.py
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

Fix CI
  .github/workflows/agent_ci.yaml
  .github/workflows/client_ci.yaml
  erniebot-agent/Makefile
  erniebot/Makefile
Due: run-erniebot-checks, run-erniebot-agent-checks

Update CI config
  .github/workflows/agent_ci.yaml
  .github/workflows/client_ci.yaml
Due: none

Fix style
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

Remove anchors
  .github/workflows/agent_ci.yaml
  .github/workflows/client_ci.yaml
Due: none

update docstring v1
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/local_file.py
  erniebot-agent/src/erniebot_agent/file/protocol.py
Due: run-erniebot-agent-checks

renew docstring v2
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/local_file.py
  erniebot-agent/src/erniebot_agent/file/remote_file.py
Due: run-erniebot-agent-checks

fix ak definition
  erniebot-agent/src/erniebot_agent/file/__init__.py
Due: run-erniebot-agent-checks

renew docstring file registry
  erniebot-agent/src/erniebot_agent/file/file_registry.py
Due: run-erniebot-agent-checks

Enhance mixins
  erniebot-agent/src/erniebot_agent/utils/mixins.py
Due: run-erniebot-agent-checks

add file.md v0
  docs/package/erniebot_agent/file.md
Due: none

update file.md
  docs/package/erniebot_agent/file.md
Due: none

add detailed des
  docs/modules/file.md
  docs/package/erniebot_agent/file.md
  erniebot-agent/src/erniebot_agent/file/README.md
  erniebot-agent/src/erniebot_agent/file/__init__.py
  mkdocs.yml
Due: run-erniebot-agent-checks

add functional_agent_with_retrieval unitests
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

Update format
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_tokens_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/memory/whole_memory.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

reformat retrieval agent
  erniebot-agent/tests/unit_tests/agents/__init__.py
  erniebot-agent/tests/unit_tests/agents/common_util.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/tests/unit_tests/agents/common_util.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

add_unittest_eb
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/tests/unit_tests/chat_model/test_chat_model_various_output.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/tests/unit_tests/agents/common_util.py
Due: run-erniebot-agent-checks

rename
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

restore identity_tool no_input_no_output_tool
  erniebot-agent/tests/unit_tests/agents/common_util.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

renew description of file manager and global file manager
  docs/modules/file.md
  docs/package/erniebot_agent/file.md
  erniebot-agent/src/erniebot_agent/file/README.md
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager_handler.py
Due: run-erniebot-agent-checks

debug mypy
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/file_registry.py
Due: run-erniebot-agent-checks

Add test_functional_agent_with_retrieval_run_retrieval
  erniebot-agent/tests/unit_tests/agents/test_functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

fix typo
  erniebot-agent/src/erniebot_agent/file/README.md
Due: run-erniebot-agent-checks

fix typo
  docs/modules/file.md
Due: none

add global file manager methods
  erniebot-agent/src/erniebot_agent/file/global_file_manager_handler.py
Due: run-erniebot-agent-checks

Path conditions:
  run-erniebot-checks: any of: ^erniebot/
  run-erniebot-agent-checks: any of: ^erniebot-agent/
