Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

run-erniebot-checks:
  name: Run erniebot checks
  language: system
  entry: python scripts/run_erniebot_checks.py
  pass_filenames: false
  stages:
  - pre-commit

run-erniebot-agent-checks:
  name: Run erniebot-agent checks
  language: system
  entry: python scripts/run_erniebot_agent_checks.py
  pass_filenames: false
  stages:
  - pre-commit

fix_lint
  erniebot-agent/src/erniebot_agent/memory/messages.py
Due: run-erniebot-agent-checks

Fix
  erniebot-agent/requirements.txt
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/callback_manager.py
  erniebot-agent/src/erniebot_agent/extensions/langchain/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/extensions/langchain/llms/erniebot.py
  erniebot-agent/src/erniebot_agent/file_io/file_manager.py
  erniebot-agent/src/erniebot_agent/file_io/file_registry.py
  erniebot-agent/src/erniebot_agent/file_io/global_file_manager.py
  erniebot-agent/src/erniebot_agent/utils/temp_file.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_remote_file_client_server.py
  erniebot/src/erniebot/cli.py
  erniebot/src/erniebot/http_client.py
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks, run-erniebot-agent-checks

Fix typing
  erniebot-agent/src/erniebot_agent/file_io/global_file_manager.py
Due: run-erniebot-agent-checks

update fix-mkdocs
  mkdocs.yml
Due: none

update fix-mkdocs (#200)
  mkdocs.yml
Due: none

update dependency
  docs/requirements.txt
Due: none

Fix style
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager.py
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/src/erniebot_agent/utils/config_from_environ.py
  erniebot-agent/tests/unit_tests/file/test_local_file.py
Due: run-erniebot-agent-checks

reformat Document
  erniebot-agent/src/erniebot_agent/retrieval/document.py
  erniebot-agent/tests/unit_tests/retrieval/test_docuent.py
Due: run-erniebot-agent-checks

Update format
  erniebot-agent/tests/unit_tests/retrieval/test_docuent.py
Due: run-erniebot-agent-checks

fix_comment
  erniebot-agent/src/erniebot_agent/memory/base.py
Due: run-erniebot-agent-checks

Fix cleanup bugs
  erniebot-agent/src/erniebot_agent/file/global_file_manager.py
Due: run-erniebot-agent-checks

update dependency (#201)
  docs/requirements.txt
Due: none

Add test knowledge base
  erniebot-agent/tests/unit_tests/retrieval/test_baizhong_search.py
Due: run-erniebot-agent-checks

temp add docstring
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager.py
Due: run-erniebot-agent-checks

Add knowledge_base_id
  erniebot-agent/tests/unit_tests/retrieval/test_baizhong_search.py
Due: run-erniebot-agent-checks

Fix data race
  erniebot-agent/examples/cv_agent/CV_agent.py
  erniebot-agent/examples/plugins/multiple_plugins.py
  erniebot-agent/examples/rpg_game_agent.py
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_shituv2.py
Due: run-erniebot-agent-checks

modify ui
  erniebot-agent/examples/experiment/EditorActorAgent.py
  erniebot-agent/examples/experiment/RankingAgent.py
  erniebot-agent/examples/experiment/ResearchAgent.py
  erniebot-agent/examples/experiment/ResearchTeam.py
  erniebot-agent/examples/experiment/ReviserActorAgent.py
  erniebot-agent/examples/experiment/group_agent.py
  erniebot-agent/examples/experiment/tools/intent_detection_tool.py
  erniebot-agent/examples/experiment/tools/prompt_utils.py
  erniebot-agent/examples/experiment/tools/ranking_tool.py
  erniebot-agent/examples/experiment/tools/report_writing_tool.py
  erniebot-agent/examples/experiment/tools/semantic_citation_tool.py
  erniebot-agent/examples/experiment/tools/task_planning_tool.py
  erniebot-agent/examples/experiment/tools/utils.py
  erniebot-agent/examples/experiment/ui.py
Due: run-erniebot-agent-checks

rename test_document.py
  erniebot-agent/tests/unit_tests/retrieval/test_document.py
Due: run-erniebot-agent-checks

[baizhong search] Add baizhong unitest (#199)
  erniebot-agent/src/erniebot_agent/retrieval/document.py
  erniebot-agent/tests/unit_tests/retrieval/test_baizhong_search.py
  erniebot-agent/tests/unit_tests/retrieval/test_document.py
  erniebot-agent/tests/unit_tests/tools/test_baizhong_tool.py
Due: run-erniebot-agent-checks

[Fix] Release resources after use (#133)
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/backends/base.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/config.py
  erniebot/src/erniebot/functions/__init__.py
  erniebot/src/erniebot/http_client.py
  erniebot/tests/test_chat_completion_aio.py
Due: run-erniebot-checks

add docstring(part)
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
Due: run-erniebot-agent-checks

Fix bugs
  erniebot-agent/examples/cv_agent/CV_agent.py
  erniebot-agent/examples/plugins/multiple_plugins.py
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/src/erniebot_agent/utils/mixins.py
  erniebot-agent/test_concurrent.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_shituv2.py
Due: run-erniebot-agent-checks

[Agent] Add docs of chat_models and set default api_type as aistudio
  docs/requirements.txt
  docs/tutorials/chat_models.md
  erniebot-agent/requirements.txt
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  mkdocs.yaml
Due: run-erniebot-agent-checks

Show file type
  erniebot-agent/src/erniebot_agent/agents/base.py
Due: run-erniebot-agent-checks

add installation.md
  docs/tutorials/installation.md
  mkdocs.yml
Due: none

add_doc_for_memory
  docs/memory/Overview.md
Due: none

[Docs]Add doc string for message and memory. (#198)
  docs/memory/Overview.md
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_token_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/memory/whole_memory.py
  erniebot-agent/src/erniebot_agent/prompt/prompt_template.py
  erniebot-agent/src/erniebot_agent/tools/baizhong_tool.py
  erniebot-agent/src/erniebot_agent/tools/base.py
  erniebot-agent/src/erniebot_agent/tools/calculator_tool.py
  erniebot-agent/src/erniebot_agent/tools/chat_with_eb.py
  erniebot-agent/src/erniebot_agent/tools/current_time_tool.py
  erniebot-agent/src/erniebot_agent/tools/image_generation_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/utils/logging.py
  erniebot-agent/src/erniebot_agent/utils/output_style.py
  erniebot-agent/tests/integration_tests/agents/test_functional_agent.py
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent.py
Due: run-erniebot-agent-checks

docs
  docs/modules/memory.md
  docs/package/erniebot_agent/memory.md
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/limit_tokens_memory.py
  mkdocs.yml
Due: run-erniebot-agent-checks

docs (#204)
  docs/modules/memory.md
  docs/package/erniebot_agent/memory.md
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/limit_tokens_memory.py
  mkdocs.yml
Due: run-erniebot-agent-checks

Fix bugs
  erniebot-agent/examples/cv_agent/CV_agent.py
  erniebot-agent/examples/plugins/multiple_plugins.py
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/global_file_manager_handler.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/utils/mixins.py
  erniebot-agent/test_concurrent.py
Due: run-erniebot-agent-checks

Fix linting issues
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_tokens_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/memory/whole_memory.py
Due: run-erniebot-agent-checks

Fix linting issues
  erniebot-agent/src/erniebot_agent/agents/schema.py
Due: run-erniebot-agent-checks

Fix integration tests
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/tests/integration_tests/apihub/base.py
  erniebot-agent/tests/integration_tests/apihub/test_car_cls.py
  erniebot-agent/tests/integration_tests/apihub/test_dish.py
  erniebot-agent/tests/integration_tests/apihub/test_doc_analysis.py
  erniebot-agent/tests/integration_tests/apihub/test_doc_rm_bnd.py
  erniebot-agent/tests/integration_tests/apihub/test_handwriting.py
  erniebot-agent/tests/integration_tests/apihub/test_high_ocr.py
  erniebot-agent/tests/integration_tests/apihub/test_image2text.py
  erniebot-agent/tests/integration_tests/apihub/test_image_moderation.py
  erniebot-agent/tests/integration_tests/apihub/test_img_enhance.py
  erniebot-agent/tests/integration_tests/apihub/test_img_transform.py
  erniebot-agent/tests/integration_tests/apihub/test_landmark.py
  erniebot-agent/tests/integration_tests/apihub/test_ocr.py
  erniebot-agent/tests/integration_tests/apihub/test_pic_translate.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_models.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_shituv2.py
  erniebot-agent/tests/integration_tests/apihub/test_text_moderation.py
  erniebot-agent/tests/integration_tests/apihub/test_text_to_speech.py
  erniebot-agent/tests/integration_tests/apihub/test_translation.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_remote_file_client_server.py
Due: run-erniebot-agent-checks

Remove unused file
  erniebot-agent/test_concurrent.py
Due: run-erniebot-agent-checks

modify ui
  erniebot-agent/examples/experiment/ResearchAgent.py
  erniebot-agent/examples/experiment/ReviserActorAgent.py
  erniebot-agent/examples/experiment/tools/semantic_citation_tool.py
  erniebot-agent/examples/experiment/ui.py
Due: run-erniebot-agent-checks

modify ui
  erniebot-agent/examples/experiment/tools/utils.py
Due: run-erniebot-agent-checks

modify ui
  erniebot-agent/examples/experiment/group_agent.py
  erniebot-agent/examples/experiment/ui.py
Due: run-erniebot-agent-checks

modify ui
  erniebot-agent/examples/experiment/group_agent.py
Due: run-erniebot-agent-checks

Path conditions:
  run-erniebot-checks: any of: ^erniebot/
  run-erniebot-agent-checks: any of: ^erniebot-agent/
