Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

run-erniebot-checks:
  name: Run erniebot checks
  language: system
  entry: python scripts/run_erniebot_checks.py
  pass_filenames: false
  stages:
  - pre-commit

run-erniebot-agent-checks:
  name: Run erniebot-agent checks
  language: system
  entry: python scripts/run_erniebot_agent_checks.py
  pass_filenames: false
  stages:
  - pre-commit

Update codestyle
  erniebot-agent/src/erniebot_agent/tools/langchain_retrieval_tool.py
Due: run-erniebot-agent-checks

add clarify in step and response
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
Due: run-erniebot-agent-checks

rm pdb
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
Due: run-erniebot-agent-checks

add ernie-turbo
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
Due: run-erniebot-agent-checks

detailed step info
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
Due: run-erniebot-agent-checks

add unit test of clarify
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
Due: run-erniebot-agent-checks

add md2pdf
  erniebot-agent/applications/erniebot_researcher/requirements.txt
  erniebot-agent/applications/erniebot_researcher/tools/utils.py
  mkdocs.yml
Due: run-erniebot-agent-checks

add md2pdf
  mkdocs.yml
Due: none

fix docs display (#279)
  docs/modules/retrieval.md
Due: none

add md2pdf
  erniebot-agent/applications/erniebot_researcher/tools/utils.py
Due: run-erniebot-agent-checks

add md2pdf
  erniebot-agent/applications/erniebot_researcher/README.md
  erniebot-agent/applications/erniebot_researcher/tools/utils.py
Due: run-erniebot-agent-checks

fix error
  erniebot-agent/tests/integration_tests/agents/test_tool_choice_agent.py
Due: run-erniebot-agent-checks

Update notebook
  erniebot-agent/cookbook/llama_index_function_agent_with_retrieval.ipynb
  erniebot-agent/cookbook/retrieval_agent.ipynb
Due: run-erniebot-agent-checks

Update agent.py
  erniebot-agent/src/erniebot_agent/agents/agent.py
Due: run-erniebot-agent-checks

add end step
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
Due: run-erniebot-agent-checks

support retrieval function agent
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
Due: run-erniebot-agent-checks

[Enhancement]Add clarify (#281)
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
  erniebot-agent/tests/unit_tests/chat_model/test_chat_model_various_input.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_chat_models.py
Due: run-erniebot-agent-checks

add_aistudio_backend_for_plugins
  docs/modules/file.md
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
Due: run-erniebot-checks

add_aistudio_backend_for_plugins (#285)
  docs/modules/file.md
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
Due: run-erniebot-checks

[Unit Test]fix unit test (#284)
  erniebot-agent/tests/integration_tests/agents/test_tool_choice_agent.py
Due: run-erniebot-agent-checks

[Plugins]Enable plugins (#269)
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/tests/integration_tests/agents/test_agent_with_plugins.py
Due: run-erniebot-agent-checks

update agent
  erniebot-agent/cookbook/local_tool.ipynb
  erniebot-agent/cookbook/remote_tool.ipynb
  erniebot-agent/src/erniebot_agent/tools/schema.py
  erniebot-agent/src/erniebot_agent/utils/exceptions.py
Due: run-erniebot-agent-checks

update path strip
  erniebot-agent/src/erniebot_agent/tools/schema.py
Due: run-erniebot-agent-checks

update tools
  erniebot-agent/src/erniebot_agent/tools/tool_manager.py
  erniebot-agent/src/erniebot_agent/tools/utils.py
Due: run-erniebot-agent-checks

update response
  erniebot-agent/src/erniebot_agent/tools/tool_manager.py
Due: run-erniebot-agent-checks

small_fix
  erniebot-agent/tests/integration_tests/agents/test_agent_with_plugins.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
Due: run-erniebot-checks, run-erniebot-agent-checks

small_fix (#286)
  erniebot-agent/tests/integration_tests/agents/test_agent_with_plugins.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
Due: run-erniebot-checks, run-erniebot-agent-checks

restore callback manager
  erniebot-agent/src/erniebot_agent/agents/callback/callback_manager.py
Due: run-erniebot-agent-checks

[Multi-Agent applications] Add ERNIE researcher implementation (#116)
  erniebot-agent/applications/erniebot_researcher/README.md
  erniebot-agent/applications/erniebot_researcher/editor_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/group_agent.py
  erniebot-agent/applications/erniebot_researcher/polish_agent.py
  erniebot-agent/applications/erniebot_researcher/ranking_agent.py
  erniebot-agent/applications/erniebot_researcher/requirements.txt
  erniebot-agent/applications/erniebot_researcher/research_agent.py
  erniebot-agent/applications/erniebot_researcher/research_team.py
  erniebot-agent/applications/erniebot_researcher/reviser_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/sample_group_agent.py
  erniebot-agent/applications/erniebot_researcher/sample_report_example.py
  erniebot-agent/applications/erniebot_researcher/tools/__init__.py
  erniebot-agent/applications/erniebot_researcher/tools/intent_detection_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/outline_generation_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/ranking_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/report_writing_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/semantic_citation_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/summarization_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/task_planning_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/utils.py
  erniebot-agent/applications/erniebot_researcher/ui.py
  erniebot-agent/applications/erniebot_researcher/user_proxy_agent.py
  erniebot-agent/src/erniebot_agent/retrieval/baizhong_search.py
  erniebot-agent/src/erniebot_agent/utils/logging.py
  mkdocs.yml
Due: run-erniebot-agent-checks

Update use-tool.md
  docs/quickstart/use-tool.md
Due: none

Update notebooks
  erniebot-agent/cookbook/retrieval_agent.ipynb
  erniebot-agent/src/erniebot_agent/agents/retrieval_agent.py
Due: run-erniebot-agent-checks

Update format
  erniebot-agent/cookbook/retrieval_agent.ipynb
Due: run-erniebot-agent-checks

update custom openapi method name
  erniebot-agent/cookbook/remote-tool/.well-known/ai-plugin.json
  erniebot-agent/cookbook/remote-tool/.well-known/openapi.yaml
  erniebot-agent/cookbook/remote-tool/README.md
  erniebot-agent/cookbook/remote-tool/requirements.txt
  erniebot-agent/src/erniebot_agent/tools/tool_manager.py
  erniebot-agent/src/erniebot_agent/tools/utils.py
Due: run-erniebot-agent-checks

Update use-tool.md (#287)
  docs/quickstart/use-tool.md
Due: none

Fix agent run
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
Due: run-erniebot-agent-checks

update importing
  erniebot-agent/src/erniebot_agent/tools/utils.py
  erniebot-agent/src/erniebot_agent/utils/common.py
Due: run-erniebot-agent-checks

fix lint
  erniebot-agent/src/erniebot_agent/tools/utils.py
  erniebot-agent/src/erniebot_agent/utils/common.py
Due: run-erniebot-agent-checks

update error message
  erniebot-agent/src/erniebot_agent/tools/utils.py
Due: run-erniebot-agent-checks

Fix ERNIE Bot documentation
  erniebot/.overrides/assets/images/favicon.png
  erniebot/.overrides/main.html
  erniebot/README.md
Due: run-erniebot-checks

Path conditions:
  run-erniebot-checks: any of: ^erniebot/
  run-erniebot-agent-checks: any of: ^erniebot-agent/
