Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

run-erniebot-checks:
  name: Run erniebot checks
  language: system
  entry: python scripts/run_erniebot_checks.py
  pass_filenames: false
  stages:
  - pre-commit

run-erniebot-agent-checks:
  name: Run erniebot-agent checks
  language: system
  entry: python scripts/run_erniebot_agent_checks.py
  pass_filenames: false
  stages:
  - pre-commit

fix lint
  erniebot-agent/src/erniebot_agent/tools/scraper.py
  erniebot-agent/tests/integration_tests/tools/test_scraper.py
Due: run-erniebot-agent-checks

add init info
  erniebot-agent/applications/eb-qa/question_bot.py
Due: run-erniebot-agent-checks

add notes
  erniebot-agent/applications/eb-qa/question_bot.py
Due: run-erniebot-agent-checks

reformat and rename
  erniebot-agent/applications/eb-agent-qa-bot/README.md
  erniebot-agent/applications/eb-agent-qa-bot/init_vector_db.py
  erniebot-agent/applications/eb-agent-qa-bot/question_bot.py
Due: run-erniebot-agent-checks

add local-tool server
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/src/erniebot_agent/tools/tool_manager.py
Due: run-erniebot-agent-checks

fix lint
  erniebot-agent/src/erniebot_agent/tools/tool_manager.py
Due: run-erniebot-agent-checks

Fix headers
  docs/sdk/api_reference/chat_completion.md
  docs/sdk/api_reference/embedding.md
  docs/sdk/api_reference/image.md
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/http_client.py
  erniebot/src/erniebot/resources/chat_completion.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
  erniebot/src/erniebot/resources/embedding.py
  erniebot/src/erniebot/resources/fine_tuning.py
  erniebot/src/erniebot/resources/image.py
Due: run-erniebot-checks

Fix typing
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

Remove asserts
  erniebot/src/erniebot/resources/image.py
Due: run-erniebot-checks

add readme
  erniebot-agent/applications/eb-agent-qa-bot/README.md
  erniebot-agent/applications/eb-agent-qa-bot/init_vector_db.py
  erniebot-agent/applications/eb-agent-qa-bot/question_bot.py
Due: run-erniebot-agent-checks

add readme
  erniebot-agent/applications/eb-agent-qa-bot/README.md
Due: run-erniebot-agent-checks

fix des
  erniebot-agent/applications/eb-agent-qa-bot/README.md
Due: run-erniebot-agent-checks

final->typevar
  erniebot/src/erniebot/resources/chat_completion.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
  erniebot/src/erniebot/resources/embedding.py
Due: run-erniebot-checks

add note
  erniebot-agent/applications/eb-agent-qa-bot/init_vector_db.py
Due: run-erniebot-agent-checks

update format
  erniebot-agent/src/erniebot_agent/tools/scraper.py
  erniebot-agent/tests/integration_tests/tools/test_scraper.py
Due: run-erniebot-agent-checks

Move method
  erniebot/src/erniebot/resources/resource.py
Due: run-erniebot-checks

add faiss vectorbase
  erniebot-agent/applications/eb-agent-qa-bot/faiss_index/index.faiss
  erniebot-agent/applications/eb-agent-qa-bot/faiss_index/index.pkl
  erniebot-agent/applications/eb-agent-qa-bot/faiss_index_module/index.faiss
  erniebot-agent/applications/eb-agent-qa-bot/faiss_index_module/index.pkl
  erniebot-agent/applications/eb-agent-qa-bot/question_bot.py
Due: run-erniebot-agent-checks

revise
  erniebot-agent/applications/eb-agent-qa-bot/README.md
Due: run-erniebot-agent-checks

Rename attributes
  erniebot/src/erniebot/resources/chat_completion.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
  erniebot/src/erniebot/resources/embedding.py
  erniebot/src/erniebot/resources/fine_tuning.py
  erniebot/src/erniebot/resources/image.py
  erniebot/src/erniebot/resources/resource.py
Due: run-erniebot-checks

update scraper
  erniebot-agent/src/erniebot_agent/tools/scraper.py
Due: run-erniebot-agent-checks

update scraper package
  erniebot-agent/dev-requirements.txt
  erniebot-agent/src/erniebot_agent/tools/scraper.py
Due: run-erniebot-agent-checks

Add retry logic
  erniebot-agent/applications/erniebot_researcher/editor_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/ranking_agent.py
  erniebot-agent/applications/erniebot_researcher/research_team.py
  erniebot-agent/applications/erniebot_researcher/reviser_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/sample_report_example.py
  erniebot-agent/applications/erniebot_researcher/tools/report_writing_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/semantic_citation_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/utils.py
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/applications/erniebot_researcher/editor_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/ranking_agent.py
  erniebot-agent/applications/erniebot_researcher/research_team.py
  erniebot-agent/applications/erniebot_researcher/reviser_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/sample_report_example.py
  erniebot-agent/applications/erniebot_researcher/tools/report_writing_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/semantic_citation_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/utils.py
Due: run-erniebot-agent-checks

revise system
  erniebot-agent/src/erniebot_agent/agents/agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
Due: run-erniebot-agent-checks

typing
  erniebot-agent/src/erniebot_agent/agents/function_agent.py
  erniebot-agent/src/erniebot_agent/agents/function_agent_with_retrieval.py
Due: run-erniebot-agent-checks

Update md to pdf
  erniebot-agent/applications/erniebot_researcher/editor_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/ranking_agent.py
  erniebot-agent/applications/erniebot_researcher/research_team.py
  erniebot-agent/applications/erniebot_researcher/sample_report_example.py
  erniebot-agent/applications/erniebot_researcher/tools/ranking_tool.py
  erniebot-agent/applications/erniebot_researcher/tools/report_writing_tool.py
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/applications/erniebot_researcher/research_team.py
Due: run-erniebot-agent-checks

udpate scraper tool
  erniebot-agent/src/erniebot_agent/tools/scraper.py
Due: run-erniebot-agent-checks

update doc requirements
  docs/requirements.txt
Due: none

[Feat] enable serve local tool (#260)
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/src/erniebot_agent/tools/schema.py
  erniebot-agent/src/erniebot_agent/tools/tool_manager.py
  erniebot-agent/tests/unit_tests/tools/test_tool_manager.py
Due: run-erniebot-agent-checks

fix social options
  mkdocs.yml
Due: none

remove social tag
  mkdocs.yml
Due: none

[Feat] add scraper.py tool (#265)
  erniebot-agent/dev-requirements.txt
  erniebot-agent/src/erniebot_agent/tools/scraper.py
  erniebot-agent/tests/integration_tests/tools/test_scraper.py
Due: run-erniebot-agent-checks

remove hello-world
  docs/blog/index.md
  docs/blog/posts/hello-world.md
Due: none

[Feat] add blog module (#262)
  docs/blog/.authors.yml
  docs/blog/index.md
  docs/requirements.txt
  mkdocs.yml
Due: none

update render_agent
  erniebot-agent/applications/erniebot_researcher/render_agent.py
Due: run-erniebot-agent-checks

Update to SystemMessage
  erniebot-agent/applications/erniebot_researcher/README.md
  erniebot-agent/applications/erniebot_researcher/editor_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/ranking_agent.py
  erniebot-agent/applications/erniebot_researcher/research_agent.py
  erniebot-agent/applications/erniebot_researcher/reviser_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/tools/ranking_tool.py
Due: run-erniebot-agent-checks

reformat
  erniebot-agent/applications/erniebot_researcher/editor_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/ranking_agent.py
  erniebot-agent/applications/erniebot_researcher/research_agent.py
  erniebot-agent/applications/erniebot_researcher/reviser_actor_agent.py
Due: run-erniebot-agent-checks

Update render agent
  erniebot-agent/applications/erniebot_researcher/editor_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/ranking_agent.py
  erniebot-agent/applications/erniebot_researcher/render_agent.py
  erniebot-agent/applications/erniebot_researcher/research_agent.py
  erniebot-agent/applications/erniebot_researcher/research_team.py
  erniebot-agent/applications/erniebot_researcher/reviser_actor_agent.py
  erniebot-agent/applications/erniebot_researcher/sample_report_example.py
  erniebot-agent/applications/erniebot_researcher/tools/ranking_tool.py
Due: run-erniebot-agent-checks

Path conditions:
  run-erniebot-checks: any of: ^erniebot/
  run-erniebot-agent-checks: any of: ^erniebot-agent/
