Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

.pre-commit-config.yaml:

# pre-commit == 3.6.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-added-large-files
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.0.1
    hooks:
      - id: forbid-crlf
        files: \.md$
      - id: remove-crlf
        files: \.md$
      - id: forbid-tabs
        files: \.md$
      - id: remove-tabs
        files: \.md$
  - repo: local
    hooks:
      - id: run-erniebot-checks
        name: Run erniebot checks
        language: system
        entry: python scripts/run_erniebot_checks.py
        files: ^erniebot/
        pass_filenames: false
        stages: [pre-commit]
      - id: run-erniebot-agent-checks
        name: Run erniebot-agent checks
        language: system
        entry: python scripts/run_erniebot_agent_checks.py
        files: ^erniebot-agent/
        pass_filenames: false
        stages: [pre-commit]

Update weipu api
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/backends/aistudio.py
Due: run-erniebot-checks, run-erniebot-agent-checks

Updare erniebot api
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/http_client.py
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks, run-erniebot-agent-checks

remove unused comments
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

restore erniebot
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks, run-erniebot-agent-checks

reformat
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/backends/aistudio.py
Due: run-erniebot-checks, run-erniebot-agent-checks

update
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

remove lines
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks, run-erniebot-agent-checks

fix ci
  erniebot-agent/dev-requirements.txt
Due: run-erniebot-agent-checks

Add ernieb speed
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks

suport no access token config
  erniebot/src/erniebot/backends/custom.py
Due: run-erniebot-checks

Fix unitest
  erniebot-agent/dev-requirements.txt
  erniebot-agent/tests/unit_tests/tools/test_llama_index_retrieval_tool.py
Due: run-erniebot-agent-checks

[aistudio api] Update weipu api (#319)
  erniebot-agent/tests/unit_tests/tools/test_llama_index_retrieval_tool.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/http_client.py
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks, run-erniebot-agent-checks

resolve conflicts
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/http_client.py
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks, run-erniebot-agent-checks

resolve conflicts
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks, run-erniebot-agent-checks

resolve conflicts
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

remove lines
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

resolve conflicts
  erniebot-agent/dev-requirements.txt
Due: run-erniebot-agent-checks

resolve conflicts
  erniebot/src/erniebot/backends/custom.py
Due: run-erniebot-checks

resolve conflicts
  erniebot-agent/dev-requirements.txt
  erniebot-agent/tests/unit_tests/tools/test_llama_index_retrieval_tool.py
Due: run-erniebot-agent-checks

Update
  erniebot-agent/tests/unit_tests/tools/test_llama_index_retrieval_tool.py
Due: run-erniebot-agent-checks

restore handle response
  erniebot-agent/dev-requirements.txt
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/backends/custom.py
Due: run-erniebot-checks, run-erniebot-agent-checks

Update format
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/backends/custom.py
Due: run-erniebot-checks

Update http_client
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

Update format
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

Eb cherry (#322)
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/resources/chat_completion.py
Due: run-erniebot-checks

Bump erniebot version to 0.5.2
  erniebot/src/erniebot/version.py
Due: run-erniebot-checks

Update chat_completion_with_plugins.py
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
Due: run-erniebot-checks

Update chat_completion_with_plugins.py (#324)
  erniebot/src/erniebot/resources/chat_completion_with_plugins.py
Due: run-erniebot-checks

Update dependency version and bump ernibot-agent version to 0.5.1
  erniebot-agent/requirements.txt
  erniebot-agent/src/erniebot_agent/version.py
Due: run-erniebot-agent-checks

Bump erniebot version to 0.5.3
  erniebot/src/erniebot/version.py
Due: run-erniebot-checks

Update faiss index
  erniebot/examples/quick_start/gradio_demo.py
Due: run-erniebot-checks

Update README.md
  erniebot/README.md
Due: run-erniebot-checks

add new models; add response_format
  erniebot/src/erniebot/resources/chat_completion.py
  erniebot/tests/test_chat_completion.py
Due: run-erniebot-checks

remove aksk
  erniebot/tests/test_chat_completion.py
Due: run-erniebot-checks
