Repository PaddlePaddle/ERNIE-SDK: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-erniebot-checks, run-erniebot-agent-checks

run-erniebot-checks:
  name: Run erniebot checks
  language: system
  entry: python scripts/run_erniebot_checks.py
  pass_filenames: false
  stages:
  - pre-commit

run-erniebot-agent-checks:
  name: Run erniebot-agent checks
  language: system
  entry: python scripts/run_erniebot_agent_checks.py
  pass_filenames: false
  stages:
  - pre-commit

revert codes
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/tools/utils.py
  erniebot-agent/src/erniebot_agent/utils/common.py
Due: run-erniebot-agent-checks

update high ocr testing
  erniebot-agent/tests/integration_tests/apihub/test_high_ocr.py
Due: run-erniebot-agent-checks

update remote-tool testing
  erniebot-agent/tests/integration_tests/apihub/test_pic_translate.py
Due: run-erniebot-agent-checks

remove tts tool
  erniebot-agent/tests/integration_tests/apihub/test_pp_models.py
Due: run-erniebot-agent-checks

use new tool-name
  erniebot-agent/tests/integration_tests/apihub/test_pp_models.py
Due: run-erniebot-agent-checks

Fix makefiles
  erniebot-agent/Makefile
  erniebot/Makefile
Due: run-erniebot-checks, run-erniebot-agent-checks

Fix bugs
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/types.py
  erniebot/tests/test_chat_completion_aio.py
Due: run-erniebot-checks

Enhance file_io
  erniebot-agent/src/erniebot_agent/file_io/__init__.py
  erniebot-agent/src/erniebot_agent/file_io/base.py
  erniebot-agent/src/erniebot_agent/file_io/factory.py
  erniebot-agent/src/erniebot_agent/file_io/file_manager.py
  erniebot-agent/src/erniebot_agent/file_io/file_registry.py
  erniebot-agent/src/erniebot_agent/file_io/global_file_manager.py
  erniebot-agent/src/erniebot_agent/file_io/local_file.py
  erniebot-agent/src/erniebot_agent/file_io/protocol.py
  erniebot-agent/src/erniebot_agent/file_io/remote_file.py
Due: run-erniebot-agent-checks

Update library code
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/extensions/langchain/chat_models/erniebot.py
  erniebot-agent/src/erniebot_agent/extensions/langchain/embeddings/ernie.py
  erniebot-agent/src/erniebot_agent/extensions/langchain/llms/erniebot.py
  erniebot-agent/src/erniebot_agent/retrieval/baizhong_search.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_toolkit.py
  erniebot-agent/src/erniebot_agent/tools/schema.py
  erniebot-agent/src/erniebot_agent/tools/utils.py
  erniebot-agent/src/erniebot_agent/utils/config_from_environ.py
  erniebot-agent/src/erniebot_agent/utils/exceptions.py
  erniebot-agent/src/erniebot_agent/utils/logging.py
  erniebot-agent/src/erniebot_agent/utils/mixins.py
  erniebot-agent/src/erniebot_agent/utils/temp_file.py
Due: run-erniebot-agent-checks

Update examples
  erniebot-agent/examples/cv_agent/CV_agent.py
  erniebot-agent/examples/plugins/multiple_plugins.py
  erniebot-agent/examples/rpg_game_agent.py
Due: run-erniebot-agent-checks

Update tests
  erniebot-agent/tests/integration_tests/apihub/base.py
  erniebot-agent/tests/integration_tests/apihub/test_doc_analysis.py
  erniebot-agent/tests/integration_tests/apihub/test_handwriting.py
  erniebot-agent/tests/integration_tests/apihub/test_img_transform.py
  erniebot-agent/tests/integration_tests/apihub/test_ocr.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_shituv2.py
  erniebot-agent/tests/unit_tests/agents/callback/test_callback_manager.py
  erniebot-agent/tests/unit_tests/agents/test_agent_response_annotations.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent.py
  erniebot-agent/tests/unit_tests/file/test_local_file.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_remote_file_client_server.py
  erniebot-agent/tests/unit_tests/tools/test_file_in_tool.py
Due: run-erniebot-agent-checks

[Testing] add apihub testing (#188)
  erniebot-agent/tests/integration_tests/apihub/test_handwriting.py
  erniebot-agent/tests/integration_tests/apihub/test_high_ocr.py
  erniebot-agent/tests/integration_tests/apihub/test_image2text.py
  erniebot-agent/tests/integration_tests/apihub/test_image_moderation.py
  erniebot-agent/tests/integration_tests/apihub/test_img_enhance.py
  erniebot-agent/tests/integration_tests/apihub/test_img_transform.py
  erniebot-agent/tests/integration_tests/apihub/test_pic_translate.py
  erniebot-agent/tests/integration_tests/apihub/test_pp_models.py
  erniebot-agent/tests/integration_tests/apihub/test_text_moderation.py
  erniebot-agent/tests/integration_tests/apihub/test_text_to_speech.py
  erniebot-agent/tests/integration_tests/apihub/test_translation.py
  erniebot-agent/tests/integration_tests/apihub/test_tts.py
Due: run-erniebot-agent-checks

Fix exceptions
  erniebot-agent/src/erniebot_agent/agents/callback/callback_manager.py
  erniebot-agent/src/erniebot_agent/file_io/file_registry.py
  erniebot-agent/src/erniebot_agent/tools/tool_manager.py
  erniebot-agent/tests/unit_tests/agents/callback/test_callback_manager.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_remote_file_client_server.py
  erniebot/src/erniebot/cli.py
  erniebot/src/erniebot/resources/resource.py
Due: run-erniebot-checks, run-erniebot-agent-checks

Fix error info
  erniebot-agent/src/erniebot_agent/file_io/global_file_manager.py
Due: run-erniebot-agent-checks

Remove use of environment variables in integration tests
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
  erniebot-agent/tests/integration_tests/tools/test_calculator.py
Due: run-erniebot-agent-checks

Fix protocol
  erniebot-agent/src/erniebot_agent/file_io/protocol.py
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
  erniebot-agent/tests/unit_tests/testing_utils/mocks/mock_remote_file_client_server.py
Due: run-erniebot-agent-checks

add mkdocs website
  README.md
  docs/index.md
  docs/package/erniebot_agent/agents.md
  docs/requirements.txt
  mkdocs.yaml
Due: none

Fix type hints
  erniebot-agent/src/erniebot_agent/file_io/base.py
  erniebot-agent/src/erniebot_agent/file_io/file_manager.py
Due: run-erniebot-agent-checks

Add search info
  erniebot-agent/examples/functional_agent_with_retrieval_example.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/tests/unit_tests/tools/test_current_time.py
Due: run-erniebot-agent-checks

Up format
  erniebot-agent/examples/functional_agent_with_retrieval_example.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/tests/unit_tests/tools/test_current_time.py
Due: run-erniebot-agent-checks

restore questions
  erniebot-agent/examples/functional_agent_with_retrieval_example.py
Due: run-erniebot-agent-checks

Update retrieval agents
  erniebot-agent/examples/functional_agent_with_retrieval_example.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

Update functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
Due: run-erniebot-agent-checks

[search agent] Add search info (#195)
  erniebot-agent/examples/functional_agent_with_retrieval_example.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
Due: run-erniebot-agent-checks

v1
  erniebot-agent/src/erniebot_agent/messages.py
Due: run-erniebot-agent-checks

update readthedocs
  .readthedocs.yaml
  docs/requirements.txt
Due: none

[Improvement] add mkdocs website (#194)
  .readthedocs.yaml
  README.md
  docs/index.md
  docs/package/erniebot_agent/agents.md
  docs/requirements.txt
  mkdocs.yaml
Due: none

merge from upstream
  erniebot-agent/src/erniebot_agent/file/__init__.py
  erniebot-agent/src/erniebot_agent/file/base.py
  erniebot-agent/src/erniebot_agent/file/factory.py
  erniebot-agent/src/erniebot_agent/file/file_manager.py
  erniebot-agent/src/erniebot_agent/file/file_registry.py
  erniebot-agent/src/erniebot_agent/file/local_file.py
  erniebot-agent/src/erniebot_agent/file/protocol.py
  erniebot-agent/src/erniebot_agent/file/remote_file.py
Due: run-erniebot-agent-checks

Fix bugs
  erniebot/src/erniebot/__init__.py
  erniebot/src/erniebot/backends/base.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/config.py
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

Fix bugs
  erniebot/src/erniebot/http_client.py
  erniebot/tests/test_chat_completion_aio.py
Due: run-erniebot-checks

Put base url in client
  erniebot/src/erniebot/backends/aistudio.py
  erniebot/src/erniebot/backends/base.py
  erniebot/src/erniebot/backends/bce.py
  erniebot/src/erniebot/backends/custom.py
  erniebot/src/erniebot/http_client.py
Due: run-erniebot-checks

changes
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/tests/integration_tests/apihub/test_high_ocr.py
  erniebot-agent/tests/integration_tests/apihub/test_image2text.py
  erniebot-agent/tests/integration_tests/apihub/test_image_moderation.py
  erniebot-agent/tests/integration_tests/apihub/test_img_enhance.py
  erniebot-agent/tests/integration_tests/apihub/test_pic_translate.py
  erniebot-agent/tests/integration_tests/apihub/test_text_moderation.py
  erniebot-agent/tests/integration_tests/apihub/test_text_to_speech.py
  erniebot-agent/tests/integration_tests/apihub/test_translation.py
Due: run-erniebot-agent-checks

update message
  erniebot-agent/examples/plugins/multiple_plugins.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_token_memory.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/memory/whole_memory.py
  erniebot-agent/src/erniebot_agent/messages.py
  erniebot-agent/src/erniebot_agent/prompt/prompt_template.py
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
Due: run-erniebot-agent-checks

update
  erniebot-agent/examples/plugins/multiple_plugins.py
Due: run-erniebot-agent-checks

Rename mkdocs.yaml to mkdocs.yml
  mkdocs.yml
Due: none

Add baizhong unitest
  erniebot-agent/tests/unit_tests/retrieval/test_baizhong_search.py
Due: run-erniebot-agent-checks

Add baizhong tool unitest
  erniebot-agent/tests/unit_tests/tools/test_baizhong_tool.py
Due: run-erniebot-agent-checks

refine_import
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/limit_token_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/prompt/prompt_template.py
  erniebot-agent/src/erniebot_agent/tools/baizhong_tool.py
  erniebot-agent/src/erniebot_agent/tools/base.py
  erniebot-agent/src/erniebot_agent/tools/calculator_tool.py
  erniebot-agent/src/erniebot_agent/tools/chat_with_eb.py
  erniebot-agent/src/erniebot_agent/tools/current_time_tool.py
  erniebot-agent/src/erniebot_agent/tools/image_generation_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/utils/logging.py
  erniebot-agent/src/erniebot_agent/utils/output_style.py
  erniebot-agent/tests/integration_tests/agents/test_functional_agent.py
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent.py
Due: run-erniebot-agent-checks

refine_import
  erniebot-agent/src/erniebot_agent/agents/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/base.py
  erniebot-agent/src/erniebot_agent/agents/callback/handlers/logging_handler.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent.py
  erniebot-agent/src/erniebot_agent/agents/functional_agent_with_retrieval.py
  erniebot-agent/src/erniebot_agent/agents/schema.py
  erniebot-agent/src/erniebot_agent/memory/__init__.py
  erniebot-agent/src/erniebot_agent/memory/base.py
  erniebot-agent/src/erniebot_agent/memory/limit_token_memory.py
  erniebot-agent/src/erniebot_agent/memory/messages.py
  erniebot-agent/src/erniebot_agent/memory/sliding_window_memory.py
  erniebot-agent/src/erniebot_agent/prompt/prompt_template.py
  erniebot-agent/src/erniebot_agent/tools/baizhong_tool.py
  erniebot-agent/src/erniebot_agent/tools/base.py
  erniebot-agent/src/erniebot_agent/tools/calculator_tool.py
  erniebot-agent/src/erniebot_agent/tools/chat_with_eb.py
  erniebot-agent/src/erniebot_agent/tools/current_time_tool.py
  erniebot-agent/src/erniebot_agent/tools/image_generation_tool.py
  erniebot-agent/src/erniebot_agent/tools/remote_tool.py
  erniebot-agent/src/erniebot_agent/utils/logging.py
  erniebot-agent/src/erniebot_agent/utils/output_style.py
  erniebot-agent/tests/integration_tests/agents/test_functional_agent.py
  erniebot-agent/tests/integration_tests/chat_models/test_chat_model.py
  erniebot-agent/tests/unit_tests/agents/test_functional_agent.py
Due: run-erniebot-agent-checks

Path conditions:
  run-erniebot-checks: any of: ^erniebot/
  run-erniebot-agent-checks: any of: ^erniebot-agent/
